<?xml version="1.0"?>
<configuration>
	<configSections>
	</configSections>
	<appSettings>
		<!-- Live Connection String-->
		<add key="CnnString" value=".\STA"/>
		<add key="Pwd" value="sa_123"/>
		<add key="fontSize" value="48"/>
		<add key="fontfamily" value="Verdana"/>
		<add key="LangGSRTC" value="1"/>
		<add key="WidthGSRTC" value="30"/>
		<add key="ETA" value="2000"/>
		<add key="ETD" value="2000"/>
		<add key="ActualETA" value="5"/>
		<add key="ActualETD" value="5"/>
		<add key="DisplayColor" value="W"/>
		<add key="Display" value="1"/>
		<add key="MsgTitle" value="STA..."/>
		<add key="Location" value="245,115"/>
		<add key="LocationForNewMicButton" value="245,115"/>
		<add key="MicButtonVisible" value="false"/>
		<add key="Annwait" value="20"/>
		<add key="PriorityETA" value="0"/>
		<add key="PriorityETD" value="0"/>
		<add key="PriorityDownloadBus" value="0"/>
		<add key="PriorityAutoBus" value="0"/>
		<add key="WaitTimeofETAETD" value="5"/>
		<add key="ANNFROM" value="CT2562"/>
		<add key="UPS" value="N"/>
		<add key="UPSTIMER" value="15"/>
		<add key="UPSPORT" value="4"/>
		<add key="UPSBAUDRATE" value="4800"/>
		<add key="MainStatusRate" value="400"/>
		<add key="MainPresent" value="530"/>
		<add key="MainAbsent" value="400"/>
		<add key="FileName" value="300130.bmp,300131.bmp"/>
		<add key="News" value="Here For Advertisement ,CONTACT -8288002060"/>
		<add key="ClientSettingsProvider.ServiceUri" value=""/>
		<add key="lat" value="12.308262"/>
		<add key="long" value="76.653252"/>
		<add key="bay" value="0"/>
		<add key="Player" value="1,2,3"/>
		<add key="Platform1" value="1,2,3,4,5,6,7,8"/>
		<add key="Platform2" value="9,10,11,12,13,14,15,16"/>
		<add key="Platform3" value="17,18,19,20,21,22,23,24,25,26,27,29,30,31,32"/>
	</appSettings>
	<system.diagnostics>
		<sources>
			<!-- This section defines the logging configuration for My.Application.Log -->
			<source name="DefaultSource" switchName="DefaultSwitch">
				<listeners>
					<add name="FileLog"/>
					<!-- Uncomment the below section to write to the Application Event Log -->
					<!--<add name="EventLog"/>-->
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="DefaultSwitch" value="Information"/>
		</switches>
		<sharedListeners>
			<add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
			<!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
			<!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
		</sharedListeners>
	</system.diagnostics>
	<startup>
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
			</providers>
		</roleManager>
	</system.web>
</configuration>
